language: cpp
compiler: gcc
dist: trusty

before_install:
  # C++17
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq

install: 
  # C++17
  - sudo apt-get install -qq g++-6
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-6 90
  - sudo apt-get install -qq cppcheck
  #- sudo apt-get install -qq valgrind

script: 
  # Build and run this project
  - g++ main.cpp graph.cpp -std=c++17 -fprofile-arcs -ftest-coverage -o dikstra
  - cppcheck --quiet --error-exitcode=1 .
  #- valgrind --leak-check=full -v --show-reachable=yes --log-file=memcheck.log ./dikstra
  #- cat memcheck.log
  #- ./dikstra